<h3>Accommodations</h3>
<div class="col-md-8 col-md-offset-2 contentBg">
  <p>Guest room blocks have been reserved at the Millennium Knickerbocker, where the reception will be held. To make your room reservation, please phone the Knickerbocker and mention that you are booking under Jeff Miller and Krista Krausses wedding room block.</p>

  <p>Millennium Knickerbocker Hotel Chicago<br />
  163 East Walton Place @ North Michigan Avenue<br />
  Chicago, IL, 60611<br />
  United States<br />
  T. +1 312 751 8100<br /></p>
</div>


<h3>Transportation</h3>
<div class="col-md-8 col-md-offset-2 contentBg">
  <p>There will be transportation provided to guests from the Knickerbocker Hotel to Holy Family, and then back to the Knickerbocker for the reception.  More details on the departure times to come!</p>

  <p>There is also free parking at Holy Family Church for those who wish to drive.</p>

  <p>Event parking at The Knickerbocker is $28 via the hotel’s valet.</p>
</div>
