<% page_title = 'Krista & Jeff\'s Wedding' %>

<h1 class='center'>Krista &amp; Jeff</h1>
<h1 class='homeDates center'>September 12th, 2014</h1>
<h2 class='homeDates center'><%= (Date.new(2014,9,12) - Date.today.in_time_zone('Central Time (US & Canada)').to_date).to_i %> days away</h2>

<%= image_tag('KristaJeffHome.jpg') %>

<div class='container-fluid contentBg'>
  <div class="row">
  <p class="col-md-12">Thank you for visiting our wedding website! We are very excited to share this special time in our lives with our friends and family.</p>
  
  <p class="col-md-12">As you peruse our website, you might notice that this isn’t your typical wedding website. Well, we’re not your typical couple, either.</p>
  
  <p class="col-md-12">As we embark on this journey together, it has been a treat to go back and see where we have come from, and relive the memories that have shaped our lives and ultimately led us to each other. We gratefully thank each one of you for the friendship, support and love you have shown us over the years.</p>

  <p class="col-md-12">Our wedding is not only a celebration of our love; it is a celebration of our family and friends coming together, and the love we all have for each other. So let’s get together and celebrate!</p>

  <p class="col-md-12">Love,<br />Krista and Jeff</p>
  </div>
</div>
