<h3>The Proposal</h3>
<div class='contentBg'>

  <p>Krista and Jeff got engaged on September 20, 2013 at The James Hotel, about a year and a half after they met. It was a surprise birthday party turned surprise engagement.</p>

  <p>Jeff turned 30 on September 13, and Krista had been planning a big surprise party for months to celebrate the occasion. Now, Jeff doesn't really like surprises, but Krista does- so he gets surprised a lot. Krista had planned to have both their families in town so everyone could partake in the festivities. So she planned the weekend to fall on the date that the Miller family was in town for the True Value Market at McCormick Place.</p>

  <%= image_tag "engagement1.jpg", {id: 'engagement1', alt: 'Krista &amp; Jeff Engagement'} %>
  <p>In order to throw Jeff off the scent of the party, she told him she was taking him out of town for the weekend for a surprise birthday get away. And that she had "messed up" and accidentally planned the vacation while his family was in town for the weekend, and that she was sorry they wouldn't get to see them very much. She also lied to him and told him that only his parents and Greg and his new wife Shaunda were coming to town for Market.</p>

  <%= image_tag "engagement2.jpg", {id: 'engagement2', alt: 'Krista &amp; Jeff Engagement'} %>
  <p>While Krista was planning the surprise birthday weekend, Jeff was secretly purchasing a wedding ring. Jeff had asked Krista's father Mike for his permission to marry her in July on the Krausses annual Door County trip, and Mike and Mary Lou were thrilled. He then purchased the ring in Iowa the next month while he was in town for his brother Greg's bachelor party.</p>

  <p>Though Jeff had not planned on how exactly he would propose to Krista. He just knew that within the next 6 months she would "set herself up at some point" and he would then use the moment to propose.</p>

  <p>When Jeff's parents came to Chicago for the Market in September, they came in a week early and camped in the Indiana Dunes. They also brought Jeff the engagement ring. So Jeff started carrying the ring around in his pocket waiting for the right moment to propose to Krista.</p>

  <p>So Friday September 20th rolls around, and Krista's running around getting everything together for Jeff's big birthday surprise. Little does she know she's about to get the biggest surprise of her life. All the family is checked into the hotel, and Krista has the penthouse rented for the big surprise, along with dinner planned at a nearby restaurant and bar.</p>

  <%= image_tag "engagement3.jpg", {id: 'engagement3', alt: 'Krista &amp; Jeff Engagement'} %>
  <p>Everything goes according to Krista's plan. She tells Jeff to meet her at the hotel when she gets off work, and that they are leaving directly from the hotel to go on vacation for the weekend. She meets Jeff in the lobby and says that Greg and Shaunda had gotten back early from the Market, and that they should go see them for a few minutes before they head out. So Jeff and Krista go up to "Shunda and Greg's hotel room" to see them. A knock at the door, and then SURPRISE! There is 30 of Jeff and Krista's friends and family there to greet him.</p>

  <p>Jeff is shocked. And when Jeff gets shocked, he gets real quiet. He turns and looks at Krista and calls her a jerk. Did we mention Jeff doesn't like surprises?</p>

  <p>But Krista is a little caught off guard, she knows Jeff doesn't like surprises, but something else was off with him. He seemed nervous.</p>

  <p>Krista turned around to put some music on to fill the awkward silence when she was ordered to stop. She turned around and Jeff was going down onto one knee, and shaking like a leaf on a tree. He managed to nervously get out the words "Will you give me the best gift of all and marry me?" Krista was very surprised and proceeded to cry. A lot. And managed to nod her head and say yes.</p>

  <p>After that the party proceeded as planned, but it was now an engagement party. Jeff told Krista that this is what she got for surprising him. She tried to put the attention on him, but he would rather turn it around on her.</p>

  <p>Krista says that she was so happy Jeff proposed the way he did, because no one could have planned her engagement better than her.  And he knew that, from his experience no one is better at planning events than Krista. So he was confident she would indeed set herself up.</p>

  <p>In the end, Krista alley-ooped, and Jeff slam dunked.</p>
  <%= image_tag "engagement4.jpg", {id: 'engagement4', alt: 'Krista &amp; Jeff Engagement'} %>
</div>
