<h3>Registries</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2 contentBg">
    <div class="row">
    <p>Krista and Jeff are registered at Crate and Barrel and Bed, Bath and Beyond.
    <br /><br />
    Click the logos to view the registries.</p>
    </div>

    <div class="row">
  <%= link_to (image_tag "cratelogo.png", {class: 'col-md-5 col-md-offset-1', alt: 'Crate & Barrel'}), 'http://www.crateandbarrel.com/Gift-Registry/Krista-Krauss-and-Jeff-Miller/r5142095', {target: '_blank', title: 'Crate & Barrel Registry'} %>

  <%= link_to (image_tag "bbb.png", {class: 'col-md-5', alt: 'Bed, Bath & Beyond'}), 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=10878522&pwsurl=', {target: '_blank', title: 'Bed, Bath & Beyond Registry'} %>
  </div>
</div>
</div>

<hr />

<h3>Donate to Our Honeymoon</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2 contentBg">
    <p>Krista and Jeff love to travel, so they will be going on a European vacation for their honeymoon. They are very much looking forward to soaking up the culture, history and booze in England, Germany and Greece. If you would like to help fund their two week European adventure, you can do so below.</p>

    <div class="row">
      <div class="col-md-3">
        <h5 class="text-center">Buy a bottle of wine  $50</h5><br />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="JMBXRGF8BE7QQ">
        <input type="image" src="http://www.kristaandjeff2014.com/assets/fund_button-b4e36243773e2fafd93cecf46538271c.png" border="0" name="submit" alt="Gift part of Jeff and Krista's Wedding" class='col-xs-12'>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <div class="col-md-3">
        <h5 class="text-center">Purchase a dinner  $100</h5><br />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QSRF6TH2BQL64">
        <input type="image" src="http://www.kristaandjeff2014.com/assets/fund_button-b4e36243773e2fafd93cecf46538271c.png" border="0" name="submit" alt="Gift part of Jeff and Krista's Wedding" class='col-xs-12'>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <div class="col-md-3">
        <h5 class="text-center">Fund a hotel night  $200</h5><br />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="PS4DX466SRK54">
        <input type="image" src="http://www.kristaandjeff2014.com/assets/fund_button-b4e36243773e2fafd93cecf46538271c.png" border="0" name="submit" alt="Gift part of Jeff and Krista's Wedding" class='col-xs-12'>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <div class="col-md-3">
        <h5 class="text-center">Sponsor transportation  $300</h5>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QD6JBAUK7G2EE">
        <input type="image" src="http://www.kristaandjeff2014.com/assets/fund_button-b4e36243773e2fafd93cecf46538271c.png" border="0" name="submit" alt="Gift part of Jeff and Krista's Wedding" class='col-xs-12'>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</div>